In [26]:
import geopandas as gpd
import pandas as pd
import csv 

shp_file = '/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/Data/State Shp Files/AL/Alabama_VTD_District_Intersection.shp'
al_gdf = gpd.read_file(shp_file) # returns a GeoDataFrame from file
al_gdf["incumbent"] = al_gdf["incumbent"].fillna(0)

with open(file='/Users/rebeccawagner/Desktop/Csv_100_200_300_400_500_600_700_800_900_100000all') as f:
    reader = csv.reader(f)
    my_list = [row[-1] for row in reader]

with open(file='/Users/rebeccawagner/Desktop/Csv_100_200_300_400_500_600_700_800_900_100000all') as f:
    reader = csv.reader(f)
    list_1 = [row[0] for row in reader]

last_iter = pd.DataFrame(list_1).merge(right=pd.DataFrame(my_list), right_index=True, left_index=True)
last_iter = last_iter.drop(labels=0, axis=0)

last_iter = last_iter.rename({"0_y":"cd_117"}, axis=1)

final = al_gdf.merge(right=last_iter, left_on='vtd_cd_117', right_on='0_x')
final = final.drop(columns=['cd_117_x','vtd_cd_117']).rename({'0_x':'vtd_cd_117','cd_117_y':'cd_117'}, axis=1)

In [29]:
final.iloc[56]

OBJECTID                                                     57
Join_Count                                                    0
TARGET_FID                                                   56
VTD                                                 01053000120
dups                                                          0
total                                                       134
one_race                                                    125
wht_1                                                       104
blk_1                                                        17
na_1                                                          2
asn_1                                                         2
haw_1                                                         0
oth_1                                                         0
multi                                                         9
blk_combo                                                    22
Shape_Leng                                              0.58395
county                                                    01053
last                                                       None
first                                                      None
middle                                                     None
race                                                       None
res_ad_lat                                                  0.0
res_ad_lon                                                  0.0
incumbent                                                     0
Shape_Le_1                                              0.58395
Shape_Area                                             0.009727
geometry      POLYGON ((-86.91753999999997 31.10089200000004...
vtd_cd_117                                    01053000120_01001
cd_117                                                    01004
Name: 56, dtype: object

In [25]:
final.drop(columns=['cd_117_x','vtd_cd_117']).rename({'0_x':'vtd_cd_117','cd_117_y':'cd_117'}, axis=1)

,OBJECTID,Join_Count,TARGET_FID,VTD,dups,total,one_race,wht_1,blk_1,na_1,...,middle,race,res_ad_lat,res_ad_lon,incumbent,Shape_Le_1,Shape_Area,geometry,vtd_cd_117,cd_117
0,1,0,0,01003000001,0,357,334,256,59,18,...,None,None,0.0,0.0,0,1.004504,0.024391,"POLYGON ((-87.76515 31.29735, -87.76360 31.297...",01003000001_01001,01003
1,2,0,1,01003000002,0,251,242,98,139,5,...,None,None,0.0,0.0,0,1.012120,0.022135,"POLYGON ((-87.81299 31.13709, -87.81653 31.131...",01003000002_01001,01003
2,3,0,2,01003000003,0,558,538,260,270,3,...,None,None,0.0,0.0,0,0.597227,0.010159,"POLYGON ((-87.90042 30.93770, -87.90144 30.937...",01003000003_01001,01003
3,4,0,3,01003000004,0,1175,1119,821,275,14,...,None,None,0.0,0.0,0,0.641053,0.012414,"POLYGON ((-87.92361 30.93146, -87.92348 30.931...",01003000004_01001,01003
4,5,0,4,01003000005,0,1632,1578,401,1148,13,...,None,None,0.0,0.0,0,0.188839,0.000877,"POLYGON ((-87.77521 30.83709, -87.77556 30.837...",01003000005_01001,01003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1839,1840,0,1839,01131005006,0,508,505,39,465,0,...,None,None,0.0,0.0,0,0.141377,0.000727,"POLYGON ((-87.31821 32.02500, -87.31764 32.024...",01131005006_01007,01004
1840,1841,0,1840,01131006001,0,429,420,145,275,0,...,None,None,0.0,0.0,0,0.394519,0.005829,"POLYGON ((-87.55981 32.05385, -87.55962 32.052...",01131006001_01007,01004
1841,1842,0,1841,01131006002,0,1242,1217,480,733,4,...,None,None,0.0,0.0,0,0.819720,0.011736,"POLYGON ((-87.55691 32.02856, -87.55576 32.028...",01131006002_01007,01004
1842,1843,0,1842,01131006004,0,208,208,16,192,0,...,None,None,0.0,0.0,0,0.448974,0.007100,"POLYGON ((-87.62858 31.94270, -87.62749 31.940...",01131006004_01007,01004
1843,1844,0,1843,01131006005,0,217,209,87,121,1,...,None,None,0.0,0.0,0,0.250406,0.001856,"POLYGON ((-87.63978 31.96512, -87.63954 31.964...",01131006005_01007,01004

In [11]:
final.to_csv(path_or_buf='/Users/rebeccawagner/Desktop/this_one')

In [15]:
gpd.read_file('/Users/rebeccawagner/Desktop/this_one.csv')

ValueError: GeoDataFrame does not support multiple columns using the geometry column name 'geometry'.