In [22]:
import pandas as pd
import numpy as np
import csv

In [2]:
file = '/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/MCMC Output/100k_output/Csv_100_200_300_400_500_600_700_800_900_100000all'

In [3]:
from csv import reader, writer 
with open(file) as f, open('/Users/rebeccawagner/Desktop/transposed.csv', 'w') as fw: 
    writer(fw, delimiter=',').writerows(zip(*reader(f, delimiter=',')))

In [4]:
file_2 = '/Users/rebeccawagner/Desktop/transposed.csv'

In [33]:
with open(file_2) as f:
  reader = csv.reader(f)

  index = next(reader)
  original = next(reader) # origional districts

  for row in f:
    print(row)

In [27]:
with open(file_2) as f:
  reader = csv.reader(f)

  index = next(reader)
  original = next(reader) # origional districts
  
  while f is open:

    cur = next(reader) 

    districts = np.unique(original)

    index_df = pd.DataFrame(index).rename(columns=pd.DataFrame(index).iloc[0]).drop(labels=0)
    index_df['Iteration'] = index_df['Iteration'].apply(lambda x: x[:-6])

    cur_df = pd.DataFrame(cur).rename(columns=pd.DataFrame(cur).iloc[0]).drop(labels=0)
    
    merged_df = index_df.merge(right=cur_df, right_index=True, left_index=True)
    
    dist_assignments = []

    for district in districts:
      id = merged_df.iloc[:,1] == district
      x = merged_df[id].index.to_list()
      dist_assignments.append(x)

In [32]:
cur_df

          2
1     01007
2     01007
3     01007
4     01007
5     01007
...     ...
1840  01001
1841  01001
1842  01001
1843  01001
1844  01001

[1844 rows x 1 columns]

In [14]:
index_df

        Iteration
1     01003000001
2     01003000002
3     01003000003
4     01003000004
5     01003000005
...           ...
1834  01131004006
1835  01131005001
1836  01131005002
1837  01131005003
1838  01131005004

[1838 rows x 1 columns]

In [7]:
cur_df

          2
1     01007
2     01007
3     01007
4     01007
5     01007
...     ...
1840  01001
1841  01001
1842  01001
1843  01001
1844  01001

[1844 rows x 1 columns]

In [38]:
merged = row_1.merge(right=row_3, right_index=True, left_index=True)

In [40]:
merged['0_y'].unique()

array(['2', '01007', '01001', '01002', '01003', '01004', '01005', '01006'],
      dtype=object)