In [259]:
import gerry_v2 as gerry

from importlib import reload; reload(gerry);

import numpy as np
import pandas as pd 
import csv
from glob import glob

### Database

In [260]:
# Instantiate a GerryDB object
g = gerry.GerryDB()

In [261]:
# Create the tPlan table, to store all the simulated plans
g.CreatePlanTable()

In [262]:
g.CreateScoresTable()

In [263]:
g.CreateVTDTable()

### Loading Data

In [264]:
g.LoadPlanFiles('/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/Output/Chain_02.23/test')

/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/Output/Chain_02.23/test/RunOne_assignments_1.2_2023-03-01-19-46-21-600787
filling table
fill function
returning fill function
/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/Output/Chain_02.23/test/RunOne_assignments_1_2023-03-01-14-58-44-965042
filling table
fill function
returning fill function
committing

True

In [254]:
g.RunQuery("""SELECT * FROM tPlan;""")

        plan_id                vtd  dist
0         1.2_1  01003000001_01001  1007
1         1.2_1  01003000002_01001  1007
2         1.2_1  01003000003_01001  1007
3         1.2_1  01003000004_01001  1007
4         1.2_1  01003000005_01001  1007
...         ...                ...   ...
7375995  1_2000  01131005006_01007  1002
7375996  1_2000  01131006001_01007  1002
7375997  1_2000  01131006002_01007  1002
7375998  1_2000  01131006004_01007  1002
7375999  1_2000  01131006005_01007  1002

[7376000 rows x 3 columns]

In [257]:
file = '/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/Output/Chain_02.23/test_2/RunOne_segregation_1_2023-03-01-15-00-35-598748'

In [258]:
g.PrepScores(file)

      plan_id  dist  seg_score dist_index
0         1_1  1001  -0.449858       1005
1         1_2  1001  18.550356       1007
2         1_3  1001  18.550356       1007
3         1_4  1001  18.550356       1007
4         1_5  1001  18.550356       1007
...       ...   ...        ...        ...
13995  1_1996  1007  -0.450059       1005
13996  1_1997  1007  -0.450059       1005
13997  1_1998  1007  -0.450059       1005
13998  1_1999  1007  -0.450059       1005
13999  1_2000  1007  -0.450059       1005

[14000 rows x 4 columns]

In [266]:
g.LoadScoreFiles('/Users/rebeccawagner/Documents/GitHub/GerryGainMCMC/Output/Chain_02.23/test_2')

fill function
returning fill function

True

In [267]:
g.RunQuery("""SELECT * FROM tScores;""")

      plan_id  dist  dist_index  seg_score
0         1_1  1001        1005  -0.449858
1         1_2  1001        1007  18.550356
2         1_3  1001        1007  18.550356
3         1_4  1001        1007  18.550356
4         1_5  1001        1007  18.550356
...       ...   ...         ...        ...
27995  1_1996  1007        1005  -0.450059
27996  1_1997  1007        1005  -0.450059
27997  1_1998  1007        1005  -0.450059
27998  1_1999  1007        1005  -0.450059
27999  1_2000  1007        1005  -0.450059

[28000 rows x 4 columns]